/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */
h1{
  font-weight: bold; 
  text-align: center;
  font-size: 4.3em;
}
h2{
  font-weight: bold; 
}
li { 
    list-style-type: none; 
    margin: 5px;
}

.error
{
 border:1px solid red;
}
#addMember
{
   top:200px;
  right: 0;
   position:fixed;

}
.start{
     float: left;
     padding: 20px;
     background: #eee;
}

#addMember{
     float: right;
     padding: 20px;
     background: #e4e9df;
}

/*#save{
  float:right;
}*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    
}

/* Modal Content/Box */
.searchModal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close, .sclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.sclose:hover,
.sclose:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.svg{
    width: 45%; 
    height: 30%;
}
.main{
    display: block;
    margin-left: auto;
    margin-right: auto 
}


.col-lg-2 {

    text-align: center;
    width: 1000px;  
}

.float {
     display: inline-block;    
     padding: 20px;   
}

#test-circle{
    width:250px;
}

#id,#name,#gewicht,#date,#empfohlen{
    float: left;
color: black;
text-decoration: none;
font-size: 200%;
}

.w3-blue{color:#fff!important;background-color:#2196F3}
.w3-center{text-align:center!important}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-container:after,.w3-container:before,




