<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel='stylesheet' href='style.css'/>
    <link rel="stylesheet" href="https://rawgit.com/pguso/jquery-plugin-circliful/1.0.2/css/jquery.circliful.css">

</head>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://localhost:3000/">Fitness Center</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="http://localhost:3000/"/>Home</a></li>
      <li><a href="http://localhost:3000/Member">Mitglieder</a></li>
      <li><a href="http://localhost:3000/Employe">Mitarbeiter</a></li>
     <!-- <li><a href="http://169.254.170.209:3000/o">Optionen</a></li> -->
    </ul>
  </div>
</nav>
<div class="container">
    {{{body}}}
</div>
<script   src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://rawgit.com/pguso/jquery-plugin-circliful/1.0.2/js/jquery.circliful.js"></script>
  <script src="/client.js"></script>
</body>
</html>

